/*.listDiv{*/
/*    display: flex;*/
/*    margin-top: 4vh;*/
/*    margin-bottom: 4vh;*/
/*    flex-direction: column;*/
/*}*/
.conditionLiClass{
    margin: 7px 5px 5px;
    border-radius: 3px;

}
#ulResult{
    height: 100%;
}

.listFont{
    font-size: 30px;
}
