

.writeQueryDiv{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    align-items: center;

    /*justify-content: space-between;*/
}
/*.ui.color1.medium.button{*/
/*    background: var(--purpleAccentColor);*/
/*    opacity: 0.5;*/
/*    color: #fff*/
/*}*/

/*.inputQuery{*/
/*    height: 150px;*/
/*    width: 500px;*/
/*    margin: 40px;*/
/*    font-size: 20px;*/
/*    !*background-attachment: fixed;*!*/
/*    !*backdrop-filter: blur(10px);*!*/
/*    border: 0.2em solid var(--purpleAccentColor);*/
/*    !*box-shadow: inset 0 0 2000px rgba(243, 223, 162, 0.2);*!*/
/*    background: #FFFFFF;*/

/*}*/
